[2018-03-13 12:09] yangwao opened #1 "Booking system for events"
Whenever someone asks me to book the date for meetup..

* I need lookup if we have free on particular date
* I need go to our refinery and open not mobile friendly ui, pick date, manually add entry: wao, description & submit
* I need to go to fb and pick the date, add description & submit

I think we could make this easier?

[2018-04-12 15:15] olso opened #2 "Led under table lighting"
Activated by coworker entering

[2018-04-12 15:16] olso opened #3 "Some visuals behind projector screen"
During idle operation

[2018-04-12 15:19] olso opened #4 "Camera pointed at bike stands"

[2018-04-12 15:21] olso opened #5 "Auto turn off lights in toilets"

[2018-04-15 17:44] Ivkaa opened #6 "Backlit progressbar banner/logo/.. placed on windows so it's nicely visible from outside"

[2018-04-15 18:00] olso opened #7 "Morning raves"

[2018-04-15 18:00] olso opened #8 "Noise disco"
50 people with speakers in their backpacks blasting their own music

[2018-06-01 13:26] olso opened #9 "Kitchen"

[2018-06-01 13:27] olso opened #10 "Taller battery in toilet room"

[2018-06-01 13:27] olso opened #11 "Larger toilet sink"

[2018-06-01 13:28] olso opened #12 "Sound dampening/proofing of staircase"

[2018-06-01 13:28] olso opened #13 "Sound dampening/proofing of meeting room"

[2018-06-01 13:28] olso opened #14 "Stage"

[2018-06-01 13:32] olso opened #15 "New frontpage website"
@Ivkaa add info pls

[2018-06-01 13:32] olso opened #16 "Social network icons"

[2018-06-01 13:35] olso opened #17 "Display PIP on monitor beside the lift door"

[2018-06-01 14:27] olso opened #18 "Dedicated page to organize event for non members"

[2018-06-01 14:28] PetoU opened #19 "Camera pointed at Bitcoin ATM @ base floor BKB"
If you will solve the issue with cameras pointed at the BIKE stand, it'd be great to have one pointing at ATM as well.

[2018-06-01 14:28] olso opened #20 "Unified calendar"
It should also contain past events, and any video recordings

[2018-06-01 14:30] olso opened #21 "Local laboratory rats/pets/diybio"

[2018-06-01 14:30] olso opened #22 "Living plant wall"

[2018-06-01 14:31] olso opened #23 "Grafitti wall"

[2018-06-01 14:31] olso opened #24 "Tea place chashitsu"

[2018-06-06 15:07] olso opened #25 "Circumvent DECT phone in order to directly open bottom entrance"

[2018-06-06 15:07] olso commented on #25
If you'd like to hack DECT we have https://rad1o.badge.events.ccc.de/ laying around

[2018-06-09 19:52] Ivkaa commented on #8
What about connected jbls :o

[2018-06-10 12:34] #25 closed

[2018-06-10 12:34] olso commented on #25
Waste of time

[2018-06-11 12:23] olso opened #26 "Camera system to check for incoming parking service patrol that would send sms ticket"

[2018-06-11 15:01] olso opened #27 "Spy on parking patrol cars"

[2018-06-11 15:01] olso commented on #26
#27

[2018-06-11 15:01] #26 closed

[2018-06-28 17:45] olso opened #28 "Iot game for cat"
Our inhouse cat gaming system

Laser can be controlled remotely, maybe some GDPR live stream

opencv camera for autonomous cat game

[2018-07-01 10:30] olso commented on #13
Thx @yangwao ❤️

[2018-07-01 10:30] #13 closed

[2018-07-03 12:34] Ivkaa opened #29 "Screen (bitpanther) timer for turning on"
now its only turning off :<

[2018-07-31 08:37] olso opened #30 "Meeting room booking system via ical?"
Ppl keep asking whether they can use the meeting room

https://calendar.google.com/calendar/embed?src=progressbar.sk_it58g550tqstho0f16r1rt35dc%40group.calendar.google.com&ctz=Europe%2FPrague

[2018-08-03 14:37] Ivkaa commented on #30
Or google calendar

[2018-08-03 14:39] Ivkaa commented on #23
Let's do something this saturday 😌

[2018-08-18 16:17] Ivkaa commented on #29
done, please let me know if you see some bugs :3

[2018-08-18 16:17] #29 closed

[2018-08-21 14:15] olso opened #31 "Presentation desk"

[2018-08-22 15:33] Ivkaa commented on #31
Done 😍thanks @olso ✨

[2018-08-22 15:34] Ivkaa opened #32 "Testcases for searchability and accessibility of the space"

[2018-08-22 15:35] Ivkaa commented on #30
I created google calendar, but I am not sure where to put the link

[2018-08-22 15:56] olso commented on #31
![img_20180822_175531](https://user-images.githubusercontent.com/7975158/44475208-baf61600-a634-11e8-93bf-65a74bd717e1.jpg)
![img_20180822_175517](https://user-images.githubusercontent.com/7975158/44475209-bb8eac80-a634-11e8-9513-f3f7b35ed114.jpg)

[2018-08-22 15:57] #31 closed

[2018-08-22 16:02] #5 closed

[2018-08-22 16:02] olso commented on #5
@yangwao

[2018-08-22 19:00] olso opened #33 "Some cheap mirror near the entrance"
![img_20180822_210121](https://user-images.githubusercontent.com/7975158/44484635-973fc980-a64e-11e8-88b1-68787e9c5c6c.jpg)

[2018-08-22 22:25] olso opened #34 "Art/paintings/prints selling in space /matcha"

[2018-08-22 22:25] olso opened #35 "Digital display in front of presentation desk"

[2018-08-22 23:31] olso opened #36 "Diybio bratislava"
https://github.com/Progressbar/diybiobratislava/wiki

[2018-08-22 23:33] olso commented on #30
@Ivkaa edited issue, at least here

[2018-08-22 23:33] olso commented on #34
@Ivkaa u know who to contact

[2018-08-23 16:49] olso opened #37 "Plant some trees, ask the city to do it, in our neighbourhood"
![img_20180823_184748](https://user-images.githubusercontent.com/7975158/44539727-38895700-a705-11e8-9d00-9071582c5f62.jpg)

[2018-08-23 18:42] olso opened #38 "Nicer cover for shelves"

[2018-08-23 18:43] olso commented on #9
Ask some utility guy to tube water into kitchen

[2018-08-24 16:26] Ivkaa opened #39 "Create template of PB logo for spraying on items"

[2018-08-24 16:27] Ivkaa opened #40 "Spray black information board with black paint wow"

[2018-08-24 16:29] Ivkaa opened #41 "Cloth over the shelves"

[2018-08-24 17:23] Ivkaa opened #42 "Visual cue for donating"
cc kuko

[2018-08-24 17:24] Ivkaa opened #43 "Pricing types"
- half day pass (5e?)
- week pass - 5 days (35e?)

[2018-08-24 17:55] Ivkaa opened #44 "Transfer donate page to pb org"

[2018-08-24 18:53] kustek opened #45 "Make and sell Bepis - Calpis without sugar"

[2018-08-25 14:45] kustek opened #46 "Make promo video for B2B desk"

[2018-08-27 13:39] kustek commented on #32
* flag
* vertical outside panels
* panels in glass

[2018-08-28 00:38] olso commented on #9
![img_20180827_234718_385](https://user-images.githubusercontent.com/7975158/44693978-635c0e00-aa6b-11e8-8ad2-a4cafff69046.jpg)

🤩 Closed by @olso @towc

[2018-08-28 00:38] #9 closed

[2018-08-28 00:39] olso commented on #11
#9

[2018-08-28 00:39] #11 closed

[2018-08-28 00:39] olso commented on #10
#9

[2018-08-28 00:39] #10 closed

[2018-08-28 00:41] olso commented on #44
https://github.com/Progressbar/Progressbar-Donor-Web
Closer by @olso @Ivkaa

[2018-08-28 00:41] #44 closed, assigned to nobody

[2018-08-28 00:42] olso commented on #42
![img_20180827_220208_199](https://user-images.githubusercontent.com/7975158/44694101-f5641680-aa6b-11e8-9a8d-f89c3418c274.jpg)

@Ivkaa ? Could be

[2018-08-29 11:08] olso opened #47 "Spray old desks in meeting room"

[2018-08-29 11:08] olso opened #48 "Spray kitchen furniture"

[2018-08-29 18:48] olso commented on #47
![img_20180829_204826_957](https://user-images.githubusercontent.com/7975158/44808590-ea74c780-abcc-11e8-8126-59ebe2c299bd.jpg)

[2018-08-29 18:48] #47 closed, assigned to nobody

[2018-08-29 18:50] olso commented on #37
https://www.odkazprestarostu.sk/bratislava/podnety/56517/skladka-pri-kosoch

[2018-09-06 20:04] olso commented on #48
@Ivkaa @yangwao @olso

[2018-09-06 20:04] #48 closed, assigned to towc, olso, Ivkaa

[2018-09-06 20:04] olso commented on #40
and kubo

[2018-09-06 20:04] #40 closed, assigned to olso

[2018-09-06 20:05] olso opened #49 "Pull up bar"

[2018-09-06 20:05] olso opened #50 "Led game revive"

[2018-09-06 20:10] olso opened #51 "Graphic template for events (social) /Kubo"

[2018-09-07 21:59] olso commented on #49
Update:
Waiting for zixo to drill the holes
We got the pull up bar in space

[2018-09-07 22:00] olso opened #52 "Visual cue for rooms"

[2018-09-07 22:01] olso commented on #52
![img_20180907_215015](https://user-images.githubusercontent.com/7975158/45244934-4260ac00-b2fa-11e8-80fa-f39b1381804f.jpg)

[2018-09-07 22:01] #52 closed, assigned to olso

[2018-09-09 23:13] olso opened #53 "Mirror near entrance"
![img_20180910_010839_hdr](https://user-images.githubusercontent.com/7975158/45269933-aae49000-b496-11e8-92a7-5c79c478fdcf.jpg)

[2018-09-09 23:13] olso commented on #53
Soon gonna upgrade to v2

[2018-09-09 23:13] #53 closed, assigned to nobody

[2018-09-09 23:16] #41 closed, assigned to nobody

[2018-09-09 23:17] olso commented on #33
#53

[2018-09-09 23:17] #33 closed

[2018-09-10 01:10] olso commented on #38
![img_20180910_030858_hdr](https://user-images.githubusercontent.com/7975158/45271387-f99a2600-b4a6-11e8-8d23-d989886bff0a.jpg)

Thx to kuko, katka from bkb @towc

[2018-09-10 01:10] #38 closed, assigned to nobody

[2018-09-12 18:35] towc opened #54 "Interactive booking map for tables - Matcha"
Would be nice if the booking of table would be clearer with booking system and map like in a cinema.

from Matcha with love

[2018-09-12 18:40] olso commented on #54
Make sure that the source is easily editable, we might experiment with tables very often

[2018-09-12 18:41] olso opened #55 "Mention dimensions on cowork, facebook"
Like desks size

- [x] Facebook
- [x] Web

[2018-09-13 01:25] Ivkaa commented on #37
this has been fixed https://www.odkazprestarostu.sk/bratislava/podnety/56517/skladka-pri-kosoch

[2018-09-18 09:18] olso opened #56 "What is Progressbar and what is our vision for the future"
This is the current one

"Základným cieľom združenia je podpora rozvoja vedomostí a zručností v oblasti technológií, vedy, umenia a kultúry."

Does not really reflect anything, we need something that we can advertise

[2018-09-18 10:03] olso opened #57 "More Progressbar patrons/hypervisors to reduce single point of failure/stress"
Patrons role would be to curate their theme within Progressbar, try to look for sponsors in that theme
These patrons would also be public faces of Progressbar

My proposals for patrons

**Administrative patrons**
Matej Nemcek
Ivana Z
Hosts

**Cowork patrons**
? ?

**Crypto patrons**
Matej Nemcek
Peter Kris
Jakub Gregus

**Edu/Lab/Maker patrons**
Marek Mansell
Matej Held
Martin Kustek
Noodles
Tvaro

[2018-09-18 10:06] olso opened #58 "Current sponsors? Alive? Outdated? Still willing to help?"
https://www.progressbar.sk/odkazy

#57

[2018-09-18 10:18] olso opened #59 "Create proposals/models for sponsors"
**What can they get from Progressbar?**

**Show me the numbers?!** https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/82
- [ ] We need to define a clear calendar for upcoming months, to show that we have plans with Progressbar
- [ ] Show them people traffic
- [ ] Show them location
- [ ] Show them how we can advertise them in our space
- [ ] Future models

**How can they help P

[2018-09-18 10:21] olso commented on #50
@sismoke pls

[2018-09-18 10:24] olso commented on #57
Patrons should prepare proposals for sponsors (discussion here #59)

[2018-09-18 10:25] olso commented on #58
Why are sponsors like BitPanther not listed?
Can someone gather this list?

[2018-09-19 11:10] olso commented on #49
https://www.instagram.com/p/Bn5zmzJAa01/

[2018-09-19 11:10] #49 closed, assigned to nobody

[2018-09-19 11:11] olso commented on #45
❤️

[2018-09-19 11:12] olso commented on #50
![img_20180918_192015](https://user-images.githubusercontent.com/7975158/45749952-967a6300-bc0d-11e8-9e7c-3d3cdbcf3dae.jpg)

[2018-09-19 11:12] #50 closed, assigned to sismoke

[2018-09-19 21:52] towc opened #60 "separate network for speakers / chromecasts"

[2018-09-26 11:39] Ivkaa opened #61 "Old electronics gallery"
Make exhibitions with our old electronics - old macs and so on

[2018-10-03 09:33] omaksi commented on #18
Duplicate/similar to #1 ?

[2018-10-03 09:37] omaksi opened #62 "Fix extension cord madness"
hide/better organize power connections within the space

Edit: especially flex desks and entrance, but also other places :)

[2018-10-04 10:27] Ivkaa opened #63 "Hang the paintings on the wall"
Hang the paintings we got as a gift on the wall and put on social media

[2018-10-04 10:38] Ivkaa commented on #18
@omaksi
this is page where non-members can request event - send some form with all the info we need for the event

[2018-10-04 12:01] omaksi commented on #18
Same thing imo === 'Booking system for events'

[2018-10-07 15:21] ysaito8015 opened #64 "Rails app upgrade"
I'm Rubist and I can upgrade some rails app.

[2018-10-07 15:22] ysaito8015 opened #65 "Progressbar Sticker"
I'd like to make stickers.

[2018-10-07 15:32] olso commented on #65
@ysaito8015 We actually have some Progressbar stickers!  😻

You can find them at the hosts desk 🙃

Btw, https://github.com/Progressbar/presskit is template for them

[2018-10-07 15:34] olso commented on #64
We are in process of ditching the current thing, and transferring to something more contributor friendly (https://firebase.google.com/) with a React frontend at https://github.com/Progressbar/web2, but its kind of dead now, not a lot of time to focus on it, but its on our priority list 😎

I tried to talk to https://www.cobot.me/ (it offers everything we need for a cowork) to deal something out, bu

[2018-10-07 16:36] yangwao commented on #43
Yes, let's also adjust daypass to 10€ as standard prices in neighbourhood (25€ in Campus City, ImpactHub 15€, HH 25€) are higher anyway in downtown.
Weekday pass then could be 40€, I think it's fair.

[2018-10-07 16:39] yangwao commented on #30
url to meeting room short link https://bit.ly/progressbar-meeting-room

[2018-10-07 16:41] yangwao commented on #18
Can we use google forms for this for now?

[2018-10-07 17:14] yangwao opened #66 "Cover staircase with acoustic insulation panels"
Before BKB will open again, we will need to fix staircase to block incoming kitchen smell & noise from downstairs during day & events.

[2018-10-07 17:14] yangwao commented on #14
If it's stage cover over stairs, price is 17k+€. No go with our budget.

Continue https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/66

[2018-10-07 17:14] #14 closed

[2018-10-07 17:17] yangwao commented on #58
@olso listed here https://cowork.progressbar.sk/#/sponsors

actual refineryCMS at progressbar.sk will go away..

[2018-10-07 18:43] olso opened #67 "Window sitting/seating"
Its an older idea buut

![screenshot_2018-10-07-20-43-05-185_com android chrome](https://user-images.githubusercontent.com/7975158/46585485-b3b68a80-ca71-11e8-8710-dad05b727236.png)
So we dont forget

[2018-10-07 18:45] olso commented on #67
Can be done rather cheaply, provides more seats, premium view, can combined with sofa view

[2018-10-07 18:46] olso commented on #67
Need to figure out

Winter heating
Privacy for ppl wearing dresses
Summer sun
Good chairs

[2018-10-07 18:47] olso commented on #67
Need help with gathering material, figuring out suspension, chairs

Cheap and rigid

[2018-10-08 14:18] olso commented on #55
Facebook done https://www.facebook.com/progressbar/posts/2436566789692582 and checkout shop

[2018-10-08 14:19] olso commented on #51
https://github.com/Progressbar/presskit/tree/master/facebook_event_cover

Done 😻

[2018-10-08 14:19] #51 closed, assigned to nobody

[2018-10-08 14:20] olso commented on #66
Whats different from #12 ?

[2018-10-09 08:04] yangwao commented on #67
What about put one way foil on bottom row of windows to preserve some privacy

[2018-10-09 10:42] yangwao commented on #59
I'd start with premium donorship, like 100€/mo, if we get 10 of them, we are good to go.

[2018-10-09 17:32] olso commented on #37
Its owned by tesco btw 😅

[2018-10-10 20:11] yangwao commented on #57
Would be good if mentioned people on the list commented, if they agree with nomination at least

[2018-10-11 06:24] olso commented on #59
If anyone has no clue whats this about

Here are some resources

https://www.startupschool.org/library

https://blog.ycombinator.com/fundraising-advice-from-female-founders/

http://paulgraham.com/guidetoinvestors.html

http://paulgraham.com/convince.html

[2018-10-11 07:56] olso commented on #61
work collab with Matcha

**sponsors**
Minitech Mba (Mirka R and more)

[2018-10-11 07:57] olso commented on #61
Related to #12

We could use the sponsoring for covering the stairs

[2018-10-11 07:58] olso commented on #12
In talks with bkb new owners

[2018-10-11 08:00] olso commented on #42
@kustek

[2018-10-11 08:01] olso commented on #61
#34

[2018-10-11 08:04] olso commented on #59
https://cowork.progressbar.sk/#/sponsors

https://cowork.progressbar.sk/#/call-for-the-sponsors

#58

[2018-10-11 08:05] olso commented on #58
Superseeded by #59

[2018-10-11 08:05] #58 closed, assigned to Ivkaa

[2018-10-11 08:27] #55 closed, assigned to nobody

[2018-10-11 08:30] olso commented on #34
Got some from http://onlineart.sk

[2018-10-11 08:31] olso commented on #21
#36

[2018-10-11 08:31] #21 closed

[2018-10-11 08:31] olso commented on #36
Local laboratory rats/pets/diybio

[2018-10-11 08:32] olso commented on #19
#27

[2018-10-11 09:19] Ivkaa opened #68 "Paint walls"
use probably combination of lighter grey and dark color

[2018-10-11 12:18] yangwao commented on #12
@olso what's the outcome

[2018-10-11 12:22] yangwao commented on #66
Continue https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/12

[2018-10-11 12:22] #66 closed, assigned to nobody

[2018-10-11 12:39] yangwao commented on #32
David Chmela is actually working on bigger outdoor label for our space, he will let me know within 1 month.

[2018-10-11 12:42] yangwao commented on #56
We should focus on something what brings value and keep us at market.
Something, that people can actually pay for.

[2018-10-11 12:47] yangwao commented on #56
https://www.facebook.com/agnes.pockels/posts/10213471635558780
text from web (if someone decides delete post)

tl;dr; they made it, they failed, at least it boosted space somewhere.

[2018-10-11 13:50] yangwao opened #69 "Prototype another call room"
As our space is randomly occupied by various people who do phone calls randomly, it could be problematic for others in space listening phone call of others.

Build fake wall from this https://www.akusticka-pena.cz/zbozi-ceny/lisovane-akusticke-desky/ next to the meeting room? 💪 💃

[2018-10-11 13:51] olso commented on #69
Hack the elevator for our use

+Has ventilation
+Almost soundproof (if can be stopped between floors)

[2018-10-11 14:00] yangwao opened #70 "Fair use policy of call room"
What about put notice at call room that people should not take longer calls >30min in our small call room?
we kinda 🤹‍♂️ with one call room.

[2018-10-11 14:09] yangwao opened #71 "Rules for coworkers during day"
Fair user policy for space.

We share big open space, so you need to be respectful to each other to keep same level of comfort for you.

If people have their 🎧 headphones on, try not disturb them, they don't wanna be disturbed. Try message them. You don't wanna be disturbed during your workflow.

If all call rooms are occupied, try to use at least 🎧headphones with microphone and speak quietly. You

[2018-10-11 17:44] omaksi commented on #15
@olso what's missing here? Can I help?

[2018-10-11 18:23] omaksi commented on #12
think about utilizing the space above the staircase, it's huge

[2018-10-11 18:38] progressbarsk commented on #12
As we have no money for it right now, I came up with creative idea, how to
sponsor it here -> #61

On 11 Oct 2018 20:23, "Ondrej Maksi" <notifications@github.com> wrote:

think about utilizing the space above the staircase, it's huge

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/Progressbar/Progressbar-Impro

[2018-10-16 16:35] olso opened #72 "Create leaderboard of fixed issues, rewards, recognition"
Recognition for other ppl, im not doing it for recognition 🤣

[2018-10-16 17:16] ysaito8015 commented on #64
May I join  https://github.com/Progressbar/web2 ?
I have experience developing Vue.js sample application with firebase.
I hope this will help.

[2018-10-16 18:38] olso commented on #64
@ysaito8015 this project is not being worked on actively, but this one https://github.com/yangwao/progressbar-coweb is current deployed

[2018-10-16 18:39] olso commented on #64
Its in process of moving under pb organization, to make it more visible 😊

[2018-10-17 20:49] olso opened #73 "Curate list of restaurants, coffee shops, around us. Until bar under us reopens"

[2018-10-21 15:34] olso commented on #63
![fotenka1](https://user-images.githubusercontent.com/7975158/47268932-4584c400-d557-11e8-9215-406fcb9ab3df.jpg)
![fotenka2](https://user-images.githubusercontent.com/7975158/47268933-4584c400-d557-11e8-905c-e55767e81c92.jpg)

Closed by

@Zovi343 @Ivkaa @olso

[2018-10-21 15:34] #63 closed, assigned to olso, Ivkaa

[2018-10-21 15:35] #64 closed, assigned to nobody

[2018-10-21 16:05] olso commented on #68
color scheme?

[2018-10-23 12:57] yangwao commented on #60
I can look on it, should not be hard. So nobody from crowd could easily overtake ~

[progressbar.sk Video] for chromecast
[progressbar.sk Audio] for chromecast audio?
[progressbar.sk meeting] for chromecast meeting room (buy chromecast plox)

as we would like may give access people at party but not during presentations.

[2018-10-23 13:24] olso commented on #57
https://github.com/Progressbar/progressbar-coweb/issues/64

[2018-10-23 14:55] yangwao opened #74 "Instagram bot which would repost IG story from whitelisted people as progressbar_sk"
![image](https://user-images.githubusercontent.com/5887929/47368876-c1f7de00-d6e2-11e8-83fc-b517613d3189.png)

We often have stories done by ourselves (single-person) and we would like to repost it as by progressbar_sk account to give it bit authenticity from origin poster perspective.

Goal is to raise number of followers and coworkers in space as well.

Now is possible repost only manually so fa

[2018-10-24 15:23] yangwao opened #75 "Set ads for awareness of our coworking to easily cover our cashflow for upcoming months"
Do IG stories, check-in often and so on.

I've spent little as 10€ for recent boosts, which gave us small awareness, new likes and popularity. Posts seems get more engagement as before.

Come up with some fine strategy for promotions and discuss it here or in person.

[2018-10-24 15:41] olso commented on #75
Accidental close. Imo any improvment we post can boosted. Imo the problem is using own personal money :/

[2018-10-25 12:27] olso opened #76 "Ask Wagner to clean external spider webs on windows after November"

[2018-10-25 13:02] Ivkaa opened #77 "Buylist"
(please edit this if you want to add item)
### Tech
- [ ] Clicker for slides [link](https://www.alza.sk/canon-pr1100-r-d5463915.htm)
- [ ] Hdmi cable (instead of the broken one)
- [ ] System to connect mic to video streaming
- [x] refill for the printer [link here]( https://www.aliexpress.com/item/Toner-Refill-Powder-for-HP-201a-CF400a-Laserjet-MFP-M277dw-M277-M277n-Pro-M252dw-M252-M252n/328462065

[2018-10-25 13:34] yangwao opened #78 "Print new stickers"
We ran out of stickers.

Print layers
https://github.com/Progressbar/presskit

Print something in range of 100€ ~

Thank you 😍

[2018-10-25 13:38] Ivkaa opened #79 "Bags with pb logo"
http://www.merchyou.com/
![image](https://user-images.githubusercontent.com/16141183/47504032-bdaafc80-d86b-11e8-93ea-5e25237df774.png)

[2018-10-25 13:38] Ivkaa commented on #78
With new logo please

[2018-10-25 13:39] Ivkaa opened #80 "Update logo"
- [ ] update press-kit
- [ ] update places where logo is mentioned

![image](https://user-images.githubusercontent.com/16141183/47504217-15e1fe80-d86c-11e8-8d42-9aa4d362de60.png)

- [ ] Square version
Old one
![image](https://user-images.githubusercontent.com/5887929/47580071-2e2a4a00-d94e-11e8-81a2-ad937acae5a7.png)

May may new
![47580071-2e2a4a00-d94e-11e8-81a2-ad937acae5a7](https://user-images

[2018-10-25 13:39] yangwao opened #81 "Make bench at entrance"
Ask landlord if we can use concrete pots to put wood over them to make bench happen.
![img_20181025_153930](https://user-images.githubusercontent.com/5887929/47504461-930d7380-d86c-11e8-92fa-67d6d5cf5584.jpg)

[2018-10-25 13:58] yangwao opened #82 "Count numbers for sponsors/investors"
Count number of
* coworkers we had - doorbot
* number of meetings - meeting room calendar
* events we hosted - fb calendar / progressbar.sk/calendar
  * 66 events since 1/1/2018 till 9/11/2018 - by facebook calendar
* xyz ???

Point is to have some hard facts of our space, that is running and have future for sponsors/donors

[2018-10-25 14:07] Ivkaa commented on #77
https://www.alza.sk/canon-pr1100-r-d5463915.htm

[2018-10-25 14:10] yangwao opened #83 "Public appearance from street"
Cheap projector, make some screen

* ~ https://www.alza.sk/lacne-projektory-s-kratkou-projekcnou-vzdialenostou/18857222.htm
* rpi ?
* collaborative feed control
* 🧙‍♀️🧙‍♂️🔮

It would be part of outdoor collaborative project where people from street can contribute & control

My first idea is to put IPFS and Ethereum smartcontract demo, so anyone from outside internet could upload pics https://jacks

[2018-10-25 14:47] Ivkaa commented on #73
![image](https://user-images.githubusercontent.com/16141183/47509127-b4bf2880-d875-11e8-936e-3336bce81323.png)

[2018-10-25 15:55] olso commented on #80
src is here

https://github.com/Progressbar/progressbar-coweb/blob/master/cowork-panel/static/img/progressbar-logo-refresh.svg

and here https://github.com/Progressbar/progressbar-coweb/blob/master/cowork-panel/src/components/ProgressbarLogoRefresh.vue 😂

[2018-10-26 11:11] yangwao commented on #73
Is there json for that? :)

On Thu, Oct 25, 2018 at 4:48 PM Ivana Zemanovicova <notifications@github.com>
wrote:

[2018-10-26 15:58] Ivkaa commented on #73
I can check if I can export it

[2018-10-26 16:31] yangwao commented on #78
related https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/80

[2018-10-26 16:41] olso commented on #80
![47580071-2e2a4a00-d94e-11e8-81a2-ad937acae5a7](https://user-images.githubusercontent.com/7975158/47580290-cd4f4180-d94e-11e8-9249-d1e0d9833bbe.png)

[2018-10-26 16:43] yangwao commented on #62
Connect power cords and wire it along the fence and make new power rail ~
@omaksi wants to fix it.

[2018-10-26 16:50] yangwao commented on #69
Ill estimate costs
  * wall
  * zakryt / L / roof
  * construction

Design is required <3

[2018-10-26 17:04] patheticmuffin commented on #81
matsu can donate bench

[2018-10-26 17:05] yangwao commented on #1
Closing in favour
- [x] using co-host over facebook
- [x] meeting rom has own calendar

[2018-10-26 17:05] #1 closed

[2018-10-26 17:05] patheticmuffin commented on #81
dimensions 150x32x54

[2018-10-26 17:08] yangwao commented on #34
Closing, obrazy visia.

[2018-10-26 17:08] #34 closed

[2018-10-26 17:10] yangwao commented on #61
Budget - 200e

[2018-10-26 17:12] yangwao opened #84 "Blockchain painting"
Decent could sponsor this 💞 and we can have some blockchain topic in space

suggested location
  * over stairs

We need
  * painter - @patheticmuffin can suggest one
  * estimate budget for painting
  * @yangwao fill up budget

[2018-10-26 17:15] yangwao commented on #12
Cost estimation @olso @Ivkaa ?
  * pena
  * construction

[2018-10-26 17:17] patheticmuffin commented on #61
#22
idea bola nahradit tie kartony co zakryvaju tie skrine a nahradit to timto
<img width="703" alt="screen shot 2018-10-26 at 19 12 39" src="https://user-images.githubusercontent.com/44055676/47581923-228d5200-d953-11e8-9668-26cdc93aab76.png">

plus this for display of old tech ?
<img width="938" alt="screen shot 2018-10-25 at 21 45 42" src="https://user-images.githubusercontent.com/44055676/4758

[2018-10-26 17:17] olso commented on #12
imo 800 if we do construction ourself

[2018-10-26 17:18] patheticmuffin commented on #24
matsu can participate in this

[2018-10-26 17:18] yangwao commented on #15
Continue here https://github.com/progressbar/progressbar-coweb/issues

[2018-10-26 17:20] patheticmuffin commented on #6
idea je nahradit the carton demon logo timto
<img width="365" alt="screen shot 2018-10-26 at 19 19 26" src="https://user-images.githubusercontent.com/44055676/47582269-2f5e7580-d954-11e8-86c4-6902665453d7.png">
hopefuly can look gud

[2018-10-26 17:22] Ivkaa commented on #15
Define issues that needs to be closed for the page to have necessary functionalities

[2018-10-26 17:27] yangwao commented on #18
@kustek would like to help this out

[2018-10-26 17:31] yangwao commented on #20
@omaksi waiting for fb app approval

Later we can embed it on cowork web https://github.com/Progressbar/progressbar-coweb/issues/65

[2018-10-26 17:40] yangwao commented on #32
Also this is side idea https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/83

[2018-10-26 18:06] yangwao commented on #30
For now send request to public cowork channel https://t.me/coworkprogressbar
When booking meeting room, send us -> name of meeting, lead of meeting, date, time range.

There will be another issue, where we will tune up process for booking meeting room.

[2018-10-26 18:06] #30 closed

[2018-10-26 18:08] yangwao commented on #56
It would be nice to focus on technical people and crypto people involved in project.

We done Nodeschool in past. There is noodles.digital
We are developers.
We are into crypto as well.
We can try out tabletoken as our product. Cobot is co-up product, we can do the same. 💪

[2018-10-26 18:19] yangwao commented on #71
We can put it to progressbar-coweb https://github.com/Progressbar/progressbar-coweb/issues/23

[2018-10-26 18:40] yangwao commented on #22
Wall should be placed next to windows

[2018-10-26 18:41] yangwao commented on #4
Bike owners should buy secure lock which should be 10% price.

[2018-10-26 18:45] olso commented on #67
Maybe instead of bar chairs, we could have indoor swings

![98745f7b-b53d-4951-b632-2c63e70b8489](https://user-images.githubusercontent.com/7975158/47586432-84a08400-d960-11e8-80b2-990f35cb15fb.jpg)

[2018-10-27 11:06] yangwao commented on #73
My 5 eurocents from May https://foodice.netlify.com/#/

[2018-10-27 12:42] yangwao commented on #45
#related
![fb_img_1540643995173](https://user-images.githubusercontent.com/5887929/47604207-70a76180-d9f6-11e8-9b31-5cfe9d3036b2.jpg)

[2018-10-27 13:20] yangwao commented on #77
Regarding "System to connect mic to video streaming" ->  https://wiki.ezvid.com/best-bluetooth-transmitters ?

We got headphone output on mix, may it would work? Someone could elaborate?

[2018-10-27 14:24] yangwao opened #85 "Put big text/QR code into window to attract cross walk peps"
As we are on the popular location over street, we should leverage usage of windows.

Main idea is to put QR code with reference to cowork or whatsover
Texts that peps know here is cowork and cool space.

[2018-10-27 15:18] yangwao commented on #85
If it's there some possibilities for AR
![screenshot_2018-10-27-17-17-50-706_com mi android globalfileexplorer](https://user-images.githubusercontent.com/5887929/47605846-3f399080-da0c-11e8-93af-daa871ab12cd.png)

[2018-10-27 17:03] yangwao opened #86 "Progressbar General Assembly #1 in new space"
Hello, we will be doing General Assembly to move forward as space and community.

Vote for dates here https://doodle.com/poll/6mw68f5eu5mcgg2m

Agenda in short (feel free add your point in comment)

1. Where we are going
1. Transformation and keeping up our niche culture
1. Cashflow: past & future
1. New opportunities
1. Investors
1. New members & people

[2018-10-27 17:15] Ivkaa opened #87 "Recurring coding event (pair programming style)"
Can be named something like "Code & Mate", "Let's code together", or anything better that comes up and it will be a meeting where programmers can work on their hobby projects or learning a new skill together.
If they don't have their projects, show them small tasks on our website for example.
Check similar events happening abroad for more info.
Let's target javascript programmers first.

Deadline

[2018-10-27 17:18] olso commented on #87
def not Code & Mate, less sensual tbh. not giving alternative atm

[2018-10-27 17:19] Ivkaa commented on #87
sure, it was first thing that came into my mind

[2018-10-28 12:53] yangwao opened #88 "Sort out boxes in meeting room"
I'm not OCD person, but it's more welcoming & inclusive, when things are sorted out.
I'm chaotic person, but I find out welcoming, when boxes are sorted right.
You can inspire it for another issues in space.
<img width="325" alt="screenshot 2018-10-28 at 13 44 33" src="https://user-images.githubusercontent.com/5887929/47616129-ce03e700-dab8-11e8-91da-e08ea6871425.png">

[2018-10-28 14:33] Ivkaa opened #89 "Take out trash behind the shelves"
There is big box full of things to trash

[2018-10-29 14:40] olso commented on #61
![img_20181002_155343_225](https://user-images.githubusercontent.com/7975158/47657199-e47d7180-db90-11e8-8f24-05dcd1c68cb7.jpg)

also this for pillars

[2018-11-02 11:16] yangwao opened #90 "Gallery showing NFT art from Ethereum"
static art is dead.
let's support art from
* https://superrare.co/market
* https://gitcoin.co/kudos/marketplace/
* https://knownorigin.io/ - https://dapp.knownorigin.io/gallery - low-high

[2018-11-02 11:45] olso commented on #90
https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/35 also

[2018-11-02 13:24] olso opened #91 "Open source workshops that teach Dapp development"
Similar as https://Nodeschool.io

https://dapphub.com/

[2018-11-02 13:26] olso commented on #91
https://docs.google.com/document/u/1/d/1LNokvLRXGfKSl-cl1We8uqoCZtvEz_ubUxfrj-aXNcs/edit

ECF
https://ecf.network

https://medium.com/ecf-review/128-things-to-know-when-applying-for-the-ethereum-community-fund-77774d097041

https://docs.google.com/forms/d/e/1FAIpQLScJoqPd1VeBLtmjUm4Cde_H12uFjS_a1HkSd8czRhDFCQJCPQ/viewform

EF
http://grants.ethereum.org

https://efgrants.typeform.com/to/huczUJ

[2018-11-02 13:40] PetoU opened #92 "Disinfection solution for kitchen and bathroom"
Buy disinfection solution water for cleaning toilet seats, or general hygiene. Best to pin it to the wall, with some dosage mechanism on both toilets, and kitchen.

The hygiene level will go definitely up, as well as a feeling of cleanness.

[2018-11-03 08:06] Zovi343 commented on #87
Name of the event: Let's have "fun" with JS
Topic: Automation Testing With Puppeteer

[2018-11-03 10:07] yangwao opened #93 "Make holographic stickers"
![img_20181103_113532](https://user-images.githubusercontent.com/5887929/47951139-e6627e80-df5c-11e8-86f8-1195e6ef458d.jpg)

At Devcon I found it very attractive to look on holographic sticker
Some examples
https://www.etsy.com/market/holographic_sticker

We can use hexagon sticker from https://github.com/Progressbar/presskit set

What needs to be done
* lookup for test samples // request them fro

[2018-11-03 11:27] olso commented on #59
What problem do we solve for ppl?

Networking, pet projects, place to work from, events

What are things that cannot be just copycatted?

What is the vision? (Cowork is too narrow)

Can we sell the progressbar experience?

[2018-11-03 12:42] olso commented on #59
VC
versus
one man show angel

[2018-11-05 13:44] olso commented on #57
#72 #94

[2018-11-05 13:52] olso commented on #59
https://guykawasaki.com/the-only-10-slides-you-need-in-your-pitch/

https://www.slsp.sk/sk/biznis/zaciname-podnikat

https://www.slsp.sk/content/dam/sk/slsp/www_slsp_sk/documents/Business/biznis-plan-vzor.docx

@Ivkaa

[2018-11-05 14:01] olso commented on #77
Our printer is **HP Color LaserJet MFP M277dw (6F99A1)**

[2018-11-05 15:21] olso opened #94 "Birthday reminders for people in our space"

[2018-11-05 16:22] #89 closed, assigned to nobody

[2018-11-05 16:23] Ivkaa opened #95 "Find service that would handle glass disposal"

[2018-11-05 18:27] Ivkaa commented on #89
@kustek @olso @ivkaa arthur

[2018-11-05 18:38] yangwao commented on #80
remembers me gooby/dolan meme.

Anyway, what about make holographic or rainbow background? 🏳️‍🌈🌈 https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/93
Step out from black 😅

[2018-11-05 18:40] yangwao commented on #94
Is this still thing?
I'd rather nurture community in way like connecting demand of coworkers with people looking for new opportunities 🤝

[2018-11-05 18:42] yangwao commented on #72
🤩 Employee of month ✨💫🌟

How would you judge weight of closed/fixed issue?
Tons of small issues vs one long-term issue ? 🤔
I sense someone would need to be liable afterwards for this.

[2018-11-05 18:46] yangwao commented on #91
What about try to apply to ECF.network ?

Can we make some numbers on this ?

[2018-11-06 13:55] yangwao commented on #91
Worth listening
https://www.google.com/podcasts?feed=aHR0cDovL2ZlZWRzLnNvdW5kY2xvdWQuY29tL3VzZXJzL3NvdW5kY2xvdWQ6dXNlcnM6NjI5MjExOTAvc291bmRzLnJzcw&episode=dGFnOnNvdW5kY2xvdWQsMjAxMDp0cmFja3MvNTExMTI2ODcy

[2018-11-07 11:48] Ivkaa opened #96 "Improve design and user experience of cashbox"
Improve design and user experience

[2018-11-07 21:36] alexhajdu opened #97 "Unreal Engine Meetup - monthly"
Hey!
My name is Alex, I'm the founder of Unreal User Group Slovakia -[meetup website]( https://www.meetup.com/Unreal-User-Group-Slovakia/)

Currently I'm running monthly meetups - every first tuesday in the month at 18.00
I'm looking for cozy space with some refreshment, electricity, maybe projector etc... Usually, there is like 6-12 of us, mainly game developers, programmers, 2D/3D artists etc...

[2018-11-07 21:40] yangwao commented on #97
Sure, we'd love to host it 🌈🙏🤘👷
If we have free slot in calendar facebook.com/progressbar/events you can have meetup in our space 😍✨💞

[2018-11-07 21:43] alexhajdu commented on #97
Our next meetup is planned for 4.12.2018, 18:00 seems like this date is free, right?

[2018-11-07 21:58] alexhajdu commented on #97
Also, can I (you) create events for like 6 months in the row? From this December ( maybe we skip in January? )  let's say till June ??

[2018-11-08 17:20] yangwao opened #98 "Water at pilar"
![img_20181108_181819](https://user-images.githubusercontent.com/5887929/48215584-dc88b300-e382-11e8-9009-bc8b3b809f79.jpg)

Putting water pipe at pilar with UV filtered water could leverage comfort of space I think

[2018-11-08 19:01] olso commented on #91
Quick tldl?

On Tue, Nov 6, 2018, 14:55 Matej Nemček <notifications@github.com wrote:

[2018-11-09 21:06] alexhajdu commented on #97
Hi @yangwao, please let me know what should I do exactly to create an event in the calendar?

[2018-11-10 14:27] yangwao commented on #90
They are already doing exactly the same thing [https://t.me/knownorigin_io/6614](https://t.me/knownorigin_io/6614)
KO will be exposing api for this [https://t.me/knownorigin_io/6619](https://t.me/knownorigin_io/6619)

[2018-11-10 15:17] yangwao opened #99 "How can have Progressbar broader impact on society"
Free discussion on topic what could help us to have broader impact on FOAFs Progressbar?

What we should be doing, what is the demand on market we could easily cover and best in short time?

Submit questions or answers to keep moving this issue.
😍 Thanks

[2018-11-10 15:31] olso commented on #99
I guess this goes hand in hand with #56

[2018-11-11 20:08] Zovi343 commented on #87
Here is the project which I will present at the meetup:
https://github.com/Zovi343/E2E_Testing_with_Puppeteer

[2018-11-12 13:22] yangwao opened #100 "Progressbar USP"
USP stand for Unique Selling Proposition.
What are our advantages comparing to other spaces or coworks?

* position (downtown center)
* wider audience seating in front of projector screen

[2018-11-12 13:26] PetoU commented on #100
community reach for hard technical people

[2018-11-12 15:07] Ivkaa commented on #80
My friend Karin could help with this one, Ill try to give her onboarding into the topic

[2018-11-12 17:13] yangwao commented on #97
I just noticed our hosts and they will come back to you.
We'd love to host Unreal engine meetup in downtown 😍

[2018-11-12 18:18] towc commented on #82
for number of users registered on doorbot, count the number of lines in the "txt db" (`cat wherever | wc -l`). Some might be duplicates, and more analysis can be done, but I don't have access to the rpis
The logs are parseable, so we can also count frequency, gaps, and similar, of opening doors. I think I had some code for some of that in one of the telegram channels, but we can make a better one,

[2018-11-12 18:21] yangwao commented on #83
May we can connect it with https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/90

[2018-11-12 18:39] olso commented on #91
https://app.tettra.co/teams/ethereum/pages/training-to-do-ethereum-workresearch

[2018-11-12 18:43] Ivkaa opened #101 "Progressbar maskot"
Some cute plushie animal with pb logo

[2018-11-12 18:43] olso commented on #91
https://cryptozombies.io - Will need mentors to pass this first, as their code checking tool is pretty weak, makes it hard to spot mistakes instantly. Things like missing _ or missing ; make it pretty painful to finish @yangwao

[2018-11-12 18:44] Ivkaa commented on #101
@patheticmuffin would you like to make something super cute? 💖

[2018-11-12 18:49] Ivkaa commented on #101
![image](https://user-images.githubusercontent.com/16141183/48368431-fcd2ad80-e6b3-11e8-98ac-4ead0b854508.png)
🤩
would be great to have some story behind, why cat or other animal

[2018-11-12 18:54] progressbarsk commented on #101
This could be part of some theme of Progressbar?

On Mon, 12 Nov 2018, 19:50 Ivana Zemanovicova <notifications@github.com
wrote:

[2018-11-12 19:32] olso opened #102 "Movie night - add date here"
Link facebook event here : https://www.facebook.com/events/503832893464649/ please edit caption
Discuss movies here

[2018-11-12 19:33] Ivkaa commented on #98
related to #77

[2018-11-12 19:33] #98 closed, assigned to nobody

[2018-11-12 19:49] olso commented on #91
https://github.com/jasonwalsh/awesome-dapps

[2018-11-13 15:54] yangwao opened #103 "Another group blood sampling with mojakrv.com"
In past we organized session with
https://www.mojakrv.com
What about next 👩‍🔬🧚👩‍⚕️

[2018-11-14 13:44] yangwao commented on #91
https://medium.com/noblocknoparty/the-rise-of-crypto-startupschool-904df8ede4b8

[2018-11-14 15:18] KarinTothova commented on #102
I've found this website with some movies; can u check? https://codeslaw.com/insight/top-10-movies-for-programmers-1037928

also I think we've been thinkin' about the 14.12.

[2018-11-14 22:35] olso opened #104 "Multisig crypto wallets"

[2018-11-15 14:19] olso opened #105 "Some cli/webapp to generate cover photos for events"
Working with those PSD is pain

[2018-11-15 15:49] omaksi commented on #105
gcpfeaas 🤩

[2018-11-15 22:28] yangwao opened #106 "Move Progressbar to DAO?"
What is DAO https://en.wikipedia.org/wiki/The_DAO_(organization)
There are numerous opportunities to exists and could empower our organisation, especially ownership and contribution to community

For research
* https://giveth.io/join
* https://colony.io/
* https://aragon.org/

[2018-11-16 15:38] olso commented on #106
More research (with some skin in the game proposals, wao is 20k leaderboard at this)

Status is doing "gmbh to dao"

https://discuss.status.im/t/be-part-of-the-dao-nao/507

https://discuss.status.im/t/status-gmbh-2-0/717/4

[2018-11-16 15:45] olso commented on #102
@KarinTothova  Maybe we could ask some ppl in cowork for suggestions 🙃

[2018-11-17 11:46] Ivkaa commented on #37
I think this issue is out of our reach, Id close it

[2018-11-17 11:51] yangwao commented on #85
Closing in favour https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/83

[2018-11-17 11:51] #85 closed, assigned to nobody

[2018-11-17 12:01] #70 closed, assigned to yangwao, anettrolikova

[2018-11-17 12:02] anettrolikova opened #107 "meme for toilets"
Please send some good meme's so we can put it on walls so everyone can laugh while ' doing their business'

[2018-11-17 12:09] yangwao commented on #81
@patheticmuffin can we bring it up? so we can make it before snow is here 💃

[2018-11-17 12:12] yangwao commented on #74
Closing in lacking of API, could be reopened later on when there will be support for that

[2018-11-17 12:12] #74 closed, assigned to yangwao

[2018-11-17 12:26] #37 closed, assigned to nobody

[2018-11-17 12:29] yangwao commented on #73
Bar/Restaurant under us planing to open on 3.12.2018 ~ In 16 days. Someone could reopen it if they plan do something within this period. 😅

[2018-11-17 12:40] anettrolikova commented on #107
https://www.google.sk/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjzh7idudveAhUHblAKHYgpAV4QjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.com%2FPhil_Coding%2Fprogramming-memes%2F&psig=AOvVaw29CRNaCtGd658NfJOXiKuB&ust=1542544600218662

[2018-11-17 12:40] anettrolikova commented on #107
http://1.bp.blogspot.com/-FFKyH-P0IpM/U1jYYYbsAEI/AAAAAAAAHk4/1-qtTETRYFM/s1600/Solving+Bugs.jpg

[2018-11-17 12:42] anettrolikova commented on #107
https://i1.wp.com/www.hazrpg.co.uk/wp-content/uploads/2016/04/programwhileyouprogram.png?fit=625%2C415&ssl=1

[2018-11-17 12:53] anettrolikova commented on #100
streetview ❤️
club mate (I guess this is not a standart)
chromecast
call room (a lot of spaces doesn't have those)

[2018-11-17 12:57] anettrolikova commented on #100
good food options nearby (laf,basilico,matsu,soho,bažant,D54,ty somaru...)

[2018-11-17 13:01] anettrolikova commented on #71
we should make those & put it up on led panel so everyone can read it immediately after enternig space

[2018-11-17 14:39] anettrolikova commented on #94
Is this really important / useful / meaningful issue ? @olso plz react 😍 cuz I dont think that this is issue that we need to discuss about & can close it
cuz we actually dont have that big comunity that we can have big bday parties and celebrate coworkers bdays...

[2018-11-17 14:45] KarinTothova commented on #102
We could also make a poll or sth on IG to find out the opinions of others🌝

[2018-11-17 14:58] #97 closed, assigned to nobody

[2018-11-17 15:47] olso commented on #107
@anettrolikova Please embed images in future, don't wanna click each one 😉

https://guides.github.com/features/mastering-markdown/ look for images example

[2018-11-17 17:39] anettrolikova commented on #8
there're more important issues to focus on.. we dont have to have opened 60 issues when they're cool but pointless (for now)

[2018-11-17 17:39] #8 closed

[2018-11-17 19:46] olso commented on #73
This is for our coworkers to show that we care about our neigbborhood...

The goal is to put this on the web

[2018-11-17 20:06] anettrolikova commented on #73
restaurants near by :
Ty somaru
Laf
Soho
Basilico
Dunajska 54
Orbis Bistro
Urban House
Matsu
U Kubistu

[2018-11-17 20:48] #94 closed, assigned to nobody

[2018-11-17 20:50] anettrolikova commented on #79
Not important & barely have money for rent not even for bags... Can close & may reopen  when we will be in better financial situation

[2018-11-17 21:38] yangwao commented on #71
At least print it somewhere in space.
Also it would be good to have some visual for this

[2018-11-18 15:03] yangwao commented on #97
Looking forward, 4/12/2018 at 6pm at Dunajska 14
https://www.facebook.com/events/519493575186378/ 💓🤗

[2018-11-18 19:48] anettrolikova commented on #71
tried to make visual for it & we can print it out
[PB rules.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2593157/PB.rules.pdf)

[2018-11-18 20:04] yangwao commented on #71
Perfect 😍
Prolly remove this part

group add yourself by click on this link
https://t.me/coworkprogressba

[2018-11-18 20:14] yangwao commented on #102
What about short docs like https://www.youtube.com/watch?v=YwtEUD2crwA&t=830s

[2018-11-18 20:21] anettrolikova commented on #71
tadaaaa 😍
[PB rules-QR.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2593184/PB.rules-QR.pdf)

[2018-11-19 11:41] omaksi opened #108 "Lockers 🔒"
Lockers to lock our stuff 🔒Anything lockable

[2018-11-19 12:49] olso commented on #108
This has been thought of in the original plan (which I bet no-one is aware of). But yes, totally agree ❤️

https://cowork.progressbar.sk/#/d14

<img width="1552" alt="screenshot 2018-11-19 at 13 47 38" src="https://user-images.githubusercontent.com/7975158/48708066-ca6c0780-ec01-11e8-83fa-9c2387a78d70.png">

Sketchup files are buried here https://github.com/Progressbar/progressbar-coweb/tree/devel

[2018-11-19 17:40] anettrolikova commented on #71
[PB rules-QR%2Fnoemojis.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2596388/PB.rules-QR.2Fnoemojis.pdf)

[2018-11-19 17:55] anettrolikova commented on #71
[PB rulez.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2596430/PB.rulez.pdf)

[2018-11-19 19:14] anettrolikova commented on #71
[PB RULEZ.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2596725/PB.RULEZ.pdf)

[2018-11-19 19:19] anettrolikova commented on #71
[PB Rulz.pdf](https://github.com/Progressbar/Progressbar-Improvement-Proposal/files/2596742/PB.Rulz.pdf)

[2018-11-20 11:55] yangwao commented on #73
Maybe we could use also oma.sk https://poi.oma.sk/n1096120193

[2018-11-20 14:09] yangwao commented on #84
I would propose topics/tags for painting
* Proof-of-work
* Proof-of-Stake
* Ethereum
* Smart Contracts
* Non-fungible tokens
* IPFS

[2018-11-20 15:08] yangwao opened #109 "Ideas for Art Installations in space"
My first two cents
http://quantum.garden/

[2018-11-20 16:33] olso commented on #91
https://app.tettra.co/teams/ethereum/pages/training-to-do-ethereum-workresearch

[2018-11-21 13:38] yangwao commented on #86
Put on oldschool real estate websites ad that we are renting "office"

[2018-11-21 13:38] yangwao commented on #86
Put on oldschool real estate websites ad that we are renting "office"

[2018-11-21 13:48] yangwao commented on #86
So far we have 81 members on cowork public channel
![image](https://user-images.githubusercontent.com/5887929/48845329-85300d00-ed9c-11e8-8904-48249f2f1283.png)

[2018-11-21 15:19] yangwao commented on #86
https://english.stackexchange.com/questions/35197/meaning-of-more-wood-behind-fewer-arrows

[2018-11-21 16:29] radkaag commented on #84
I may could do something creative for this issue. :)

[2018-11-21 16:41] radkaag opened #110 "Clean up and create more cosier space"
- hiding power and cable cords, [Pinterest ideas](https://sk.pinterest.com/pin/363384263665160561/?lp=true) & [Blog](https://www.countryliving.com/home-maintenance/organization/news/g3019/wire-covers/?slide=6)
... and much more

[2018-11-21 18:03] auryn-macmillan commented on #106
Hey guys, Auryn from Colony here.
I would love to chat with you all about [Colony](http://colony.io) as a potential solution to DAOifying Progressbar.

[2018-11-21 18:06] yangwao commented on #86
* ziadost od socialnej poistovne ze nie sme platitelmi poistenie
* potvrdenie z banky o vedeni bankoveho uctu
* ist so zapisnicou clenov a prezencnou listinou k notarke s original stanov a original potvrdenie o pridelni ICO (55€) - 2% part notar to vklada do zapisnice

[2018-11-21 19:00] Ivkaa commented on #12
New idea came from Wagners letting us use the staircase
Covering only the sides and using the place as rest area, with hammocks and pillows

[2018-11-21 19:24] anettrolikova opened #111 "Engage young peps interested in tech"
Send email to teachers on tech schools in

- [ ] Bratislava
- [ ] Senec
- [ ] Trnava.

## We can offer them

### Tech education events
- hardware
- software

### Community
- space where they can meet up with other peers
- space where they can meet up with people from the industry

[2018-11-21 19:34] yangwao commented on #86
1. Where we are going
Hostovat crypto meetupy, https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/111
2. Transformation and keeping up our niche culture
Co-op & DAO
3. Cashflow: past & future
we are missing 500-1000€/mo
4. New opportunities
Crypto meetups
5. Investors
6. New members & people
~
New governance
* Riadiaci Vybor Steering commitee
    * Matej Nemcek
	* Juraj Kubica

[2018-11-21 21:48] yangwao commented on #111
Is this related https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/99

[2018-11-22 21:49] anettrolikova commented on #56
I've been thinking bout this lately... the thing that we want to have space in rainbow color palette which is cool (example got me @Ivkaa https://githubuniverse.com/& https://ethereum.org/ ) .. have wall art in space is cool as well but does anyone was thinking about which company we want to have in space (that will have fix desks like decent back then or minitech nowdays) 🤔 🤔 🤔 cuz I'm not sure i

[2018-11-22 22:41] Ivkaa commented on #56
Hey, thank you for you food for thought. What I think is:
We want to be incubator as well, which would mean we want to support companies that would like space like that, even though maybe now in Bratislava there are very few. Also we need to be different than other coworks/etc. and this could be one of the things. I think many tech oriented people really like this kind of environment and it promot

[2018-11-23 13:54] yangwao opened #112 "Put nice printed big-scale art on wall"
![img_20181122_161816](https://user-images.githubusercontent.com/5887929/48946853-51392100-ef2f-11e8-84ef-391c947cb672.jpg)
- Art is from MAK Vienna - Sagmeister & Walsh Beauty exposition

Print some nice big-scale art on un used walls. Prolly it would be faster than https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/23 or https://github.com/Progressbar/Progressbar-Improvement-

[2018-11-23 13:55] olso commented on #112
@yangwao Price est?

[2018-11-23 14:22] omaksi commented on #110
#62

[2018-11-23 14:28] olso commented on #110
#88

+ New sofa is on the way

[2018-11-23 14:30] omaksi commented on #109
Sponsors needed 🌈

[2018-11-23 14:31] olso commented on #102
@KarinTothova How is this looking?

[2018-11-24 15:58] olso commented on #12
![industrial-staircase](https://user-images.githubusercontent.com/7975158/48970175-99c50d00-f009-11e8-9ba8-7ca3d6f305bc.jpg)
![f66afe6555fdb7b53fecee5e39c6506e](https://user-images.githubusercontent.com/7975158/48970176-9a5da380-f009-11e8-8f1c-959095c6feee.jpg)

[2018-11-25 14:16] anettrolikova commented on #93
https://stickerapp.com/custom-stickers/#!
100pcs of holo stickers in size 5x5 cm will cost 56$

[2018-11-25 17:35] yangwao opened #113 "Progressbar should be supportive towards LGBTQIAPK+ community"
![image](https://user-images.githubusercontent.com/5887929/48982271-85077880-f0e0-11e8-9df3-09485de39e01.png)
We would like have another marketing bulletpoint to be more supportive and inclusive with LGBT community.

**Show us your concern or any issues regarding topic** and we will try discuss it in this issue.
This issue will go in hand with supporting like Ethereum community and revamping logo

[2018-11-25 18:06] yangwao opened #114 "Meeting room Boxik"
Proposed dimensions for accoustic insulation are
2.1 x 3 = 6.3
2.5 x 2 = 5
=== 11.3

One solid steel table from hackerspace area
We are just missing proper chairs

[2018-11-26 15:38] yangwao commented on #106
Just had call with @auryn-macmillan
They will keep us posted, expected launch is in mid December 2018.

[2018-11-27 16:27] olso opened #115 "Restore ringbell func and alert ppl"
Multippe occurences of ppl just standing downstairs, not being able to do anything

[2018-11-27 18:11] yangwao commented on #59
We should incubate:

- Public Blockchains
- Decentralized Exchanges (DEX)
- Wallets & Payment
- Stable Digital Currencies
- ATS/Security Token Platforms
- dApps

[2018-11-27 23:05] anettrolikova commented on #93
We wanna have the coolest holographic stickers but we need around 70€ for them (200pcs). Kindly looking for sponsors. We want to take some on 35CCC ~ would be great way how to promote our space 🌈

[2018-11-28 12:34] olso commented on #91
https://medium.com/protea/https-medium-com-ethereum-meetup-organizers-connect-ba8e686a61ff

This style involves a very hands-on practical of coding or testing to educate or build on a discussion. An example of this is LOOM Network’s Crypto Zombies — a series of practicals that teach you to write smart contracts in Solidity.

This needs no introduction but common presentation topics are project dem

[2018-11-28 12:43] olso commented on #91
https://github.com/Progressbar/cryptoschool/issues/1

[2018-11-28 14:15] yangwao opened #116 "App: send link to digital panel to show it in browser"
Easy PWA, which will broadcast link/url to digital panel display browser so you don't need cripple on touch keyboard to enter url 🌈

[2018-11-28 14:23] olso commented on #116
Nodeschool

On Wed, Nov 28, 2018, 15:15 Matej Nemček <notifications@github.com wrote:

[2018-11-28 15:14] yangwao commented on #83
Just discussed with @sismoke  we could create laser for projection 😍

[2018-11-28 15:23] omaksi commented on #105
https://www.canva.com ?

[2018-11-28 16:18] olso commented on #116
Maybe live telegram chat widget embedded on our website, you just post msg there

https://bit.ly/2ScwPJE

[2018-11-28 16:25] olso commented on #116
Shit telegram doesnt support anon viewer, we would have to make some forwarder omg, whatever, scrap

[2018-11-28 18:51] yangwao opened #117 "Make new 360 photos"
We need make new 360 panorama so we can embed new one to cowork.progressbar.sk

Do one from middle and meeting room

🦄

[2018-11-29 12:06] yangwao commented on #116
or use browser decentralised db https://gun.eco/

[2018-11-29 12:07] yangwao commented on #116
Or german engineered qr code revival https://jabcode.org/

[2018-11-29 12:43] olso commented on #82
@sismoke could install the people counter as well

[2018-11-30 15:17] yangwao opened #118 "Fundraising: Covering staircase"
We already ordered acoustic insulation panels for sound proofing staircase.
https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/66
https://github.com/Progressbar/Progressbar-Improvement-Proposal/issues/12

Total cost would be **634€** (16470czk) for panels and we also need buy some wooden timbers to strength construction for them.

In second stage we would like build another sma

[2018-11-30 19:27] Ivkaa commented on #93
![image](https://user-images.githubusercontent.com/16141183/49310319-4148b080-f4de-11e8-8843-ed2c8b1b841e.png)
Soon to be delivered, the design is on presskit

[2018-11-30 19:27] #93 closed, assigned to nobody

[2018-12-02 16:24] yangwao opened #119 "Remove Progressbar from Michalska 3 at Telegram"
![screenshot_2018-12-02-17-23-11-448_org thunderdog challegram](https://user-images.githubusercontent.com/5887929/49342115-19c92380-f657-11e8-9975-b475bac81ad9.png)
In location at Telegram there are two Progressbars, one is from past, one is actual.

[2018-12-03 14:15] olso commented on #107
Seems to work

[2018-12-03 14:15] #107 closed, assigned to nobody

[2018-12-03 14:28] olso commented on #103
I'd still love to have December 💉
Writing to Karpis rn to see if he is around

[2018-12-04 18:22] olso opened #120 "Fb messenger to Telegram for notifications"
https://github.com/AlexR1712/messenger-to-telegram

[2018-12-04 20:22] olso commented on #120
actually, might be easier https://developers.facebook.com/docs/messenger-platform/webhook

[2018-12-05 00:16] olso commented on #120
Requires app review

[2018-12-05 12:51] wonder-sk opened #121 "Espresso machine"
It would be nice to have a proper espresso machine in the space. The kind where you just press a button and the coffee is ready in few seconds.

And charging 1 EUR per coffee would recover the cost of buying quite soon :-)

[2018-12-05 18:55] olso commented on #120
https://github.com/Progressbar/messenger2telegram/blob/master/index.js

[2018-12-05 18:55] #120 closed, assigned to nobody

[2018-12-06 04:43] olso commented on #80
https://github.com/Progressbar/presskit/tree/master/logo_v1.5

thx to @radkaag

[2018-12-06 04:43] #80 closed, assigned to olso

[2018-12-06 04:44] olso commented on #65
@ysaito8015 #93 They are on the way!

[2018-12-06 04:44] #65 closed, assigned to nobody

[2018-12-06 04:45] olso commented on #78
#93

[2018-12-06 04:45] #78 closed, assigned to nobody

[2018-12-09 15:56] kustek opened #122 "Future of Learning programme and event series"
ties to #56 what is pb
* january kick-off
* regular peer study group
* variety of programmes, including but not limited to
** UoPeople
** Coursera
** Million Women to Tech

[2018-12-10 18:10] yangwao opened #123 "Collect throwback pictures from actual space"
![image](https://user-images.githubusercontent.com/5887929/49751912-01888280-fcaf-11e8-8b71-f57490f12281.png)
[facebook post](https://www.facebook.com/EffectiveAltruismBratislava/photos/a.757811247756393/791822194355298/?type=3&permPage=1)

I would be delighted to see more (funny) pictures from Progressbar, how we evolved through time

[2018-12-12 15:03] yangwao opened #124 "Potential talks/workshop for future"
Inspiration:
Make talk about game crypto-economics https://medium.com/loom-network/designing-a-sustainable-game-economy-part-1-card-scarcity-and-mining-via-play-cec5f6cc58c4

* Earning Cards by Winning Ladder Matches
* Truly Rare “Limited Edition” Cards
* Mining via Play: Using Bitcoin’s Algorithm to Mint Truly Scarce Game Items
* Rewarding High-Ranking Players with Better Rewards
* Reward Halving

[2018-12-12 15:03] yangwao commented on #124
Matej ⟠ Wao Nemcek [12 Dec 2018 at 15:54:56]:
can we make workshop on this https://github.com/ConsenSys/ethql
how to query blockchain, easy 2-3h workshop

[2018-12-12 18:56] olso commented on #116
https://github.com/Progressbar/operandi

[2018-12-13 10:08] patheticmuffin opened #125 "New PB design"
![asset 3-50](https://user-images.githubusercontent.com/44055676/49931396-0de72800-fec7-11e8-880e-bced5c0457f9.jpg)
![mood board pb](https://user-images.githubusercontent.com/44055676/49931397-0de72800-fec7-11e8-9004-86918a150d6c.jpg)
Blueprinty (can add more info if necessary)
![artboard 1 copy 7-100](https://user-images.githubusercontent.com/44055676/49931448-2b1bf680-fec7-11e8-87f9-64d4eda23153

[2018-12-13 10:15] patheticmuffin commented on #108
There are two ways how to go about this and that is
either we will have a wall of locker which might be good as a place for artwork
![tumblr_oj8w3aec7c1vllnpoo1_1280](https://user-images.githubusercontent.com/44055676/49931730-d2009280-fec7-11e8-92bf-6aa076373a56.png)
or we can get under desk lockers since the tables are big enough for it not being an issue
![1446490961879](https://user-images.git

[2018-12-13 10:20] #19 closed

[2018-12-13 14:04] yangwao commented on #124
Worth sauce for upcoming talks on Cryptoeconomics

https://ce.mit.edu/

[2018-12-13 14:20] yangwao commented on #124
Sum up most recent popular ipfs apps https://awesome.ipfs.io/categories/apps/

[2018-12-14 14:59] yangwao commented on #93
finally

![2018-12-14 15 58 27](https://user-images.githubusercontent.com/5887929/50010260-36e7e580-ffb9-11e8-84d4-ad6b9caf0e02.jpg)
![2018-12-14 15 58 23](https://user-images.githubusercontent.com/5887929/50010261-37807c00-ffb9-11e8-8431-9c3e73fd98c9.jpg)

[2018-12-14 16:06] yangwao commented on #124
Brief introdutciin to libp2p https://blog.keep.network/introduction-to-libp2p-57ce6527babe

[2018-12-15 15:35] maht0rz commented on #121
How about buying a Moccamaster instead? Espresso machine needs a lot of skill and maintanance, to produce a good result. Moccamaster is plug and play, you just need a grinder.

[2018-12-16 09:30] olso commented on #125
blue #3a10ff
purple #a100de
pink #fa21d0
orange #ee650c
yellow #feb229

[2018-12-16 15:13] olso commented on #121
We now have Delonghi icona, checkout the kitchen :)

thx to @rolandhudak

[2018-12-16 15:13] #121 closed, assigned to olso

[2019-01-04 17:48] yangwao commented on #117
Done and on web 🛸👽🌈🦋🌸🧚✨

[2019-01-04 17:48] #117 closed, assigned to nobody

[2019-01-10 19:07] #86 closed, assigned to yangwao, Ivkaa

[2019-01-11 21:19] #103 closed, assigned to anettrolikova

[2019-01-11 21:20] #102 closed, assigned to nobody

[2019-01-11 21:27] anettrolikova commented on #76
cleaning service will come in spring approx march / april

[2019-01-11 21:27] #76 closed, assigned to nobody

[2019-01-11 21:30] #28 closed

[2019-01-11 21:30] #7 closed

[2019-01-11 21:31] #27 closed

[2019-01-11 21:32] #79 closed, assigned to nobody

[2019-01-11 21:33] #71 closed, assigned to nobody

[2019-01-11 21:37] #43 closed, assigned to nobody

[2019-01-11 21:39] #24 closed

[2019-01-11 21:42] anettrolikova commented on #103
https://www.facebook.com/events/204082250497400/
https://www.facebook.com/events/575804686215274/

[2019-01-13 16:24] anettrolikova commented on #77
we need new chairs for meeting room :)

[2019-01-15 22:40] jamesmorgan commented on #90
Hi guys, I have a alpha version of the public api in to KnownOrigin nearly ready if you guys are interested still? Let me know

[2019-01-20 15:56] yangwao opened #126 "IKEA wishlist for new furniture"
We made wishlist for new furniture for space to have higher quality
Documented items are here https://photos.app.goo.gl/UhmSajyqZCgCFF726
Sorted by priority, first most important for us

Total 1075€

3x 65€ Raane seat for hangout area to replace old sofas.

2nd meeting space Boxik
4x 90€ Trollberget bar seating and wao can bring bar table from home for 4
Green rack with plants which can cover prot

[2019-01-22 16:01] yangwao commented on #90
@jamesmorgan sure, we can chat more at Telegram,
Reach me there https://t.me/yangwao
✨✨✨👽

[2019-02-17 22:05] yangwao commented on #114
Done ✨🌿

[2019-02-17 22:05] #114 closed, assigned to nobody

[2019-02-17 22:07] yangwao commented on #69
Boxik serves as temporary call room rn, planing another meeting room.

[2019-02-17 22:07] #69 closed, assigned to yangwao